extends ../layout/case_page

block variables
    - var topbar = false
    - var wave = false
    - var footer_pt = 'pt-50'
    - var path = '../'
    -
        var pageData = { title: 'Double Screen', description: '', keywords: '' }
    -
        var headerMenu = { formats: 'transparent', cases: 'yellow', contacts: 'transparent' }
    -
        var caseData = {nameEng: 'lexus', nameRus: 'Immersion Lexus', caseType: 'desktop', pt: '25', pb: '80', backButton: '#ffffff', aboutCase: ['Задача', ['Рассказать потенциальным клиентам о предновогодних предложениях.'], 'Идея', ['Lexus — клиент, который активно тестирует нестандартные решения и подходы. Поэтому мы предложили выйти с новым для рынка форматом Immersion в сезон, когда выделиться среди конкурентов — особенно важно.'],'Результат',['Средняя длительность сеанса при переходе на сайт бренда в десктопе и мобайле оказалась выше средних показателей по кампании на 30%, при этом глубина просмотра — на уровне с другими видеоформатами.']], nameColor: 'white', textColor: 'white'}




