extends ../layout/case_page

block variables
    - var topbar = false
    - var wave = false
    - var path = '../'
    - var footer_pt = 'pt-50'
    -
        var pageData = { title: 'Double Screen', description: '', keywords: '' }
    -
        var headerMenu = { formats: 'transparent', cases: 'yellow', contacts: 'transparent' }
    -
        var caseData = {nameEng: 'mitsubishi', nameRus: 'Баннер-витрина для кампании Mitsubishi EC', caseType: 'mobile', pt: '25', pb: '500', backButton: '#525252', aboutCase: ['Задача', ['Digital-поддержка старта продаж новой модели Mitsubishi. Задача баннера - максимально показать характеристики авто и привлечь внимание пользователей.'], 'Идея', ['Клиенту понравилась идея баннера-витрины, которую мы реализовали для другого проекта. Задача состояла в том, чтобы мотивировать пользователей узнать как можно больше информации о новой модели нестандартным способом.', 'Мы выбрали несколько отличительных характеристик, которые добавили в баннер с помощью pop-up (всплывающих окон).','На вижуал добавлены активные точки, по тапу на которые открываются заметки с характеристиками Mitsubishi EC. Чтобы пользователям было удобнее просмотреть весь контент, всплывающие окна можно листать в слайдере.'],'Результаты',['В результате оптимизации кампании и вовлечения пользователей, мы увеличили конверсию баннера на 25%, по сравнению с бенчмарками для фулскрина.']], nameColor: 'main', textColor: 'heading'}
