extends ../layout/case_page

block variables
    - var topbar = false
    - var wave = false
    - var footer_pt = 'pt-50'
    - var path = '../'
    -
        var pageData = { title: 'Double Screen', description: '', keywords: '' }
    -
        var headerMenu = { formats: 'transparent', cases: 'yellow', contacts: 'transparent' }
    -
        var caseData = {nameEng: 'lipton', nameRus: 'Игра Lipton Arkanoid', caseType: 'mobile', pt: '25', pb: '260', backButton: 'grey', aboutCase: ['Задача', ['Разработать интересную игровую механику для поддержки промо кампании'], 'Идея', ['Мы реализовали в баннере игру Arkanoid.', 'Пользователь управлял платформой, которая должна отбивать летающий мячик, не давая ему упасть.'], 'Механика', ['Цель - с помощью мячика расчистить все игровое поле. В качестве препятствий использовались ягоды черники и облепихи - вкусы чая липтон. Некоторые ягоды были заморожены, по ним требовалось ударить два раза.']], nameColor: 'main', textColor: 'heading'}





