extends ../layout/case_page

block variables
    - var topbar = false
    - var wave = false
    - var footer_pt = 'pt-50'
    - var path = '../'
    -
        var pageData = { title: 'Double Screen', description: '', keywords: '' }
    -
        var headerMenu = { formats: 'transparent', cases: 'yellow', contacts: 'transparent' }
    -
        var caseData = {nameEng: 'columbia', nameRus: 'Игровой баннер Columbia для Sportmaster', caseType: 'mobile', pt: '25', pb: '530', backButton: 'grey', aboutCase: ['Задача', ['Проведение кампании с интерактивным креативом и максимальное вовлечение пользователей во взаимодействие. Показать преимущества курток Columbia и ее теплые характеристики.'], 'Идея игровой механики', ['Оценив задачу и рекламную стратегию клиента, мы предложили игровую механику с Call to action: «Отбери куртку у медведя!». Идея: белый медведь обитает в зоне вечного холода. Для него актуально быть всегда защищенным от мороза и куртки Columbia помогут ему сохранять тепло везде. Мы предложили пользователям померяться силами с медведем в стиле народной забавы — перетягивание каната. В игре мы намеренно убрали возможность победить медведя, а на кей-вижуал вывели текст: «Купи себе Columbia в Sportmaster».']], nameColor: 'main', textColor: 'heading'}
