extends ../layout/case_page

block variables
    - var topbar = false
    - var wave = false
    - var path = '../'
    - var footer_pt = 'pt-50'
    -
        var pageData = { title: 'Double Screen', description: '', keywords: '' }
    -
        var headerMenu = { formats: 'transparent', cases: 'yellow', contacts: 'transparent' }
    -
        var caseData = {nameEng: 'gifted', nameRus: 'Скан & селфи баннер для Gifted', caseType: 'mobile', pt: '25', pb: '430', backButton: 'grey', aboutCase: ['Задача', ['Анонсирование нового сериала от FOX «Одаренные» о подростках со сверспособностями.'], 'Идея', ['Сериал о подростках, внезапно открывающих суперспособности натолкнула нас на идею предложить узнать о своих скрытых способностях, сканируя фото. Пользователь делает селфи, после чего запускается анимация сканирования фото и выдача результатов. По фотографии определяются склонность к суперспособностям, которые есть у героев сериала. Результатом пользовател мог поделиться в VK и FB.']], nameColor: 'main', textColor: 'heading'}

