extends layout/main_without_parallax

block variables
    - var pageTitle = 'Minto Contacts'

block content_part1
    .container-contacts
        .map
        .info
            p Super Minto
            p
                span Lorem:
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, iusto?
            p
                span Lipsum:
                |  65468987078453

