extends layout/page

block variables
    - var topbar = false
    - var wave = false
    -
        var pageData = { title: 'Double Screen', description: '', keywords: '' }
    -
        var headerMenu = { formats: 'transparent', cases: 'transparent', contacts: 'transparent' }

block content
    section.wrapper_case_lipton.pt-75.pb-75
        .container.px-xl-0
            .row.align-items-center
                .col-lg-1
                .d-flex.justify-content-center.col-lg-2.col-3.px-0
                    img.img-fluid(src='i/cases/lipton/logo-lipton_arcanoid.svg')
                .col-lg-8
                    h2.mt-35.mb-35 Игра Lipton Arcanoid
            .row
                .col-lg-1
                .col-lg-10
                    .mt-35.mb-35.f-22.blog-post-question-font Задача
                    p.mt-35.mb-35.color-heading.blog-post-answer-font Разработать интересную игровую механику для поддержки промо кампании
                    .mt-35.mb-35.f-22.blog-post-question-font Идея
                    p.mt-35.mb-35.color-heading.blog-post-answer-font Мы реализовали в баннере игру Arkanoid.
                    p.mt-35.mb-35.color-heading.blog-post-answer-font Пользователь управлял платформой, которая должна отбивать летающий мячик, не давая ему упасть.
                    .mt-35.mb-35.f-22.blog-post-question-font Задача
                    p.mt-35.mb-35.color-heading.blog-post-answer-font C помощью мячика расчистить все игровое поле. В качестве препятствий использовались ягоды черники и облепихи - вкусы чая липтон. Некоторые ягоды были заморожены, по ним требовалось ударить два раза.
            .row.justify-content-center
                .col-10.col-md-8.col-lg-6.col-xl-5.d-flex.justify-content-center
                    .video-case-container
                        img(src='i/cases/phone.svg' width='100%')
                        .video-case
                            video.video-case-set(autoplay='autoplay', playsinline='', muted='', loop='')
                                source(src='i/cases/lipton/lipton_arcanoid.mp4')




