- var menu = [{link: 'index.html', name: 'Home'}, {link: 'views.html', name: 'Views'}, {link: 'contacts.html', name: 'Contact Us'}]

header
    .div= nameBlock
    .logo
        a.logo-link(href='index.html')
            .logo-img
            .logo-text super minto
    .menu
        ul
            for i in menu
                li
                    a(href=i.link)=i.name

.container-banner
    h1 Lorem ipsum dolor sit amet, consectetur adipisicing
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, officia!